<footer class="fixed-bottom mw-100 d-md-none bg-light line-block">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <button type="button" class="btn btn-default" style="border:none;background-color:transparent;"
              onclick="location='/'"><span class="glyphicon glyphicon-home"/><br>首页
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-default" style="border:none;background-color:transparent;"
              onclick="location='/'"><span class="glyphicon glyphicon-th"/><br>板块
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-default" style="border:none;background-color:transparent;"
              onclick="location='/add_article/'"><span style="font-size: 30px;padding-top: 2px;"
                                                       class="glyphicon glyphicon-plus-sign"/></button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-default" style="border:none;background-color:transparent;"
              onclick="location='/all_message/'"><span class="glyphicon glyphicon-comment"/><br>消息
      </button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn btn-default" style="border:none;background-color:transparent;"
              onclick="location='/user_self/'"><span class="glyphicon glyphicon-user"/><br>我的
      </button>
    </li>
  </ul>
</footer>